/*  no universal stylings 
1st flex box for the nav links at the top of page*/

.nav-list {
     display: flex;
     flex-direction: row;
     background-color: gray;
     width: 100%;
     height: 90%;
 } 
 /*  only way to get picture to the left of name*/
 .nav-item {
     display: flex;
     width: 100%;
     height: 40%;
     justify-content: space-around;
 }
 /* apply color to my name */
 .nav-item h1 {
    background-color: aqua;
    width: 10%;
    height: 10%
}
/* adjust height so that image was not using so much space */
.nav-item img {
    height: 60px;
    padding-right: 30%;
}
/* put links at the end of the box */
.nav-item a {
    align-items: flex-end;
    justify-content: space-between;
}
/* background with text flexbox */
.hero-bg {
    background-image: url(./images/heroBG.jpg);
    display:flex;
    justify-content: end;
    height: 100px;
}

/* used diff semantic html */
.hero-bg span {
    background-color: green;
    height: 20px;
}

/* simple flexbox to have about section and paragraphs on the right */
.about-me-container {
    display:flex;
}
/* about, work and contact all have the same style font */
h2{
    color: darkgray;
    padding: 2%;
}
.about-me-container p {
    padding-left: 2%;
    border-left: 10px solid blue;
}

/* main flexbox to hold all images */
.work-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left-column {
    width: 25%;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 75%;
    height:fit-content;
    margin-left: 18%;
    border-left: solid blue 10px;
}

.work-container p {
    margin-left: 10px;
    width: 5em;
}
/* 1st larger size box */
.surf-item {
    display: flex;
    width: 100%;
    height: 45%;
}
/* p and img are children of surfitem flex parent */
.surf-item p {
    position: absolute;
    color: white;
    background-color: aqua;
}

.surf-item img {
    width: 100%;
    height: 100%;
}
/* 2nd row flex parent to hold children run buddy and its children the p img and ledwall and it's children */
.secflexcontainer {
    display: flex;
    flex-direction: row;
}

.runbud {
    width: 45%;
    height: 35%;
    padding: 1em;
}

.runbud p {
    width: 5em;
    position: absolute;
    color: black;
    background-color: aqua;
}

.runbud img {
    width: 80%;
}

.ledwall {
    width: 45%;
    padding: 1em;
}

.ledwall p{
    width: 4em;
    position: absolute;
    color: white;
    background-color: aqua;
}

.ledwall img {
    width: 70%;
}

/* last flexbox to hold the calculator and the puzzles */
.thirdflexcontainer {
    display: flex;
    flex-direction: row;
    height: 30%;
}

/* adjusting pictures to be all the same size in browsr */
.calc {
    width: 45%;
    height:45%;
    padding: 1em;
}

.calc p {
    width: 10em;
    position: absolute;
    color: black;
    background-color: aqua;
}

.calc img {
    width: 70%;
    height: 30%;
}

.pastels {
    width: 45%;
    padding: 1em;
    height: 45%;
}

.pastels img {
    width: 70%;
    height: 30%;
}

.pastels p {
    width: 8em;
    position: absolute;
    color: black;
    background-color: aqua;
}

/* thhis was the footer flexbox */
.contact-container {
    display: flex;
}
.contact-container h2 {
    padding: 20%;
    border-right: 10px blue solid;
}

/* only way I could get the links to be on the right. */
.footer-item {
    display: flex;
    height: fit-content;
    justify-content: space-around;
}

.footer-item p {
    padding-left: 30%;
}

/* simple media query to make responsive layout */
@media all and (max-width:780px) {
    body {color:red;
    }
}